<%- include('../includes/header'); %>

<div class="container">
  <h2 class="mb-4">All Post</h2>

  <a href="/posts/create">
    <button class="btn btn-primary">Create Post</button>
  </a>

  <table class="table mt-4">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Content</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach((post, index) => { %>
      <tr>
        <td><%= ++index %></td>

        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td>
          <a class="btn btn-success" href="/posts/<%= post.id %>" role="button"
            >Details</a
          >
          <a
            class="btn btn-primary mx-1"
            href="/posts/<%= post.id %>/edit"
            role="button"
            >Edit</a
          >
          <a
            class="btn btn-danger"
            href="/posts/<%= post.id %>/delete"
            role="button"
            >Delete</a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('../includes/footer'); %>
